<html th:replace="~{global :: plantilla(~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<main>
	<h1 class="m-3 mb-4">Listado de hoteles</h1>
	<div class="card m-3 hover-zoom" th:each="hotel : ${hoteles}">
		<div class="card-body pb-2 estiloHotel">
			<h5 class="card-title estiloHotel" th:text="${hotel.nombre}"></h5>
			<p class="card-text estiloHotel mb-3" th:text="${hotel.direccion}"></p>
			<p class="card-text estiloHotel mb-1">
				<small class="text-muted">0 estrellas</small>
			</p>
			<a th:href="@{/hotel/{id}(id=${hotel.id})}" class="stretched-link"></a>
		</div>
		<img th:src="${hotel.fotos[0]}" class="card-img-bottom fotohotel" alt="Imagen del hotel">
	
	</div>
</main>